
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-family: "Lato", sans-serif;
  background: linear-gradient(to bottom, #f4f4f4, #fff);
}

.main {
  width: 400px;
  height: 550px;
  overflow: hidden;
  background: white;
  border-radius: 15px;
  box-shadow: 0px 15px 40px rgba(0, 0, 0, 0.2);
}

.header {
  position: absolute;
  top: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 200px;
}

.header img {
  padding: 2em;
  width: 220px;
  height: fit-content;
}

#chk {
  display: none;
}

.signup {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
}

#loginbtn {
  display: flex;
  align-items: center;
  gap: 15px;
  width: 80% !important;
  padding: 12px 20px;
  border: none;
  margin-bottom: -15%;
  background-color: #4285F4;
  color: white;
  cursor: pointer;
  border-radius: 8px;
  font-size: 16px;
  font-weight: bold;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  transition: all 0.3s ease;
}

#loginbtn:hover {
  background-color: #3367D6;
}

#loginbtn img {
  width: 24px;
  height: auto;
}

#loginbtn span {
  margin: 0 !important;
}

label {
  color: #333;
  font-family: "Montserrat", sans-serif;
  font-size: 2.5em;
  font-weight: bold;
  text-align: center;
  margin: 40px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

span {
  color: #555;
  font-size: 1.1em;
  justify-content: center;
  display: flex;
  margin: 40px;
  cursor: pointer;
  transition: 0.5s ease-in-out;
}

.signup label {
  font-size: 1.8em !important;
}

.login {
  height: 480px;
  background: #333;
  padding: 1em;
  border-radius: 70% / 12%;
  transform: translateY(-150px);
  transition: 0.8s ease-in-out;
}

.login label {
  color: white;
  transform: scale(0.6);
}

.login button {
  background: #fff;
  color: #333;
}

#chk:checked ~ .login {
  transform: translateY(-520px);
}

#chk:checked ~ .login label {
  transform: scale(1);
}

#chk:checked ~ .signup label {
  transform: scale(0.6);
  opacity: 0;
}

#chk:checked ~ .signup span {
  transform: scale(0.6);
}

#space {
  height: 60px;
  margin-top: 0px;
  cursor: pointer;
  transform: scale(1) !important;
  display: flex;
  width: 100%;
  justify-content: center;
}

#logintxt {
  margin-top: -90px !important;
  font-size: 3em;
}

@media screen and (max-width: 600px) {
  .header img {
    padding: 2em;
    width: 180px;
    height: fit-content;
  }
}
#aviso{
  justify-content: center;
}
